# Упражнения на работу с pandas

In [2]:
import numpy as np
import pandas as pd

### Упражнение № 1
Создайте Series из каждого из элементов: списка, ndarray и словаря.

In [23]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

series_from_list = pd.Series(mylist)
series_from_array = pd.Series(myarr)
series_from_dict = pd.Series(mydict)

print("Series из списка:")
print(series_from_list)
print("\nSeries из массива:")
print(series_from_array)
print("\nSeries из словаря:")
print(series_from_dict)

Series из списка:
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Series из массива:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

Series из словаря:
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

### Упражнение № 2
Преобразуйте `ser` в датафрейм с его индексом в качестве еще одного столбца датафрейма.

In [24]:
ser = pd.Series(mydict)

df_from_ser = ser.reset_index()
df_from_ser.columns = ['Index', 'Value']

print("DataFrame из Series:")
print(df_from_ser)

DataFrame из Series:
   Index  Value
0      a      0
1      b      1
2      c      2
3      e      3
4      d      4
5      f      5
6      g      6
7      h      7
8      i      8
9      j      9
10     k     10
11     l     11
12     m     12
13     n     13
14     o     14
15     p     15
16     q     16
17     r     17
18     s     18
19     t     19
20     u     20
21     v     21
22     w     22
23     x     23
24     y     24
25     z     25

### Упражнение № 3
Объедините `ser1` и `ser2`, чтобы сформировать датафрейм.

In [25]:
df = pd.DataFrame({'Column1' : pd.Series(mylist), 'Column2' : pd.Series(myarr)})
print(df)

   Column1  Column2
0        a        0
1        b        1
2        c        2
3        e        3
4        d        4
5        f        5
6        g        6
7        h        7
8        i        8
9        j        9
10       k       10
11       l       11
12       m       12
13       n       13
14       o       14
15       p       15
16       q       16
17       r       17
18       s       18
19       t       19
20       u       20
21       v       21
22       w       22
23       x       23
24       y       24
25       z       25

### Упражнение № 4
Добавьте имя ряда  `ser`, назвав его `latin_letters`.

In [20]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'latin_letters'

print(ser)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_letters, dtype: object

### Упражнение № 5
Из `ser1` удалите элементы, присутствующие в `ser2`.

In [21]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1_filtered = ser1[~ser1.isin(ser2)]

print("Очищенный ser1:")
print(ser1_filtered)

Очищенный ser1:
0    1
1    2
2    3
dtype: int64

### Упражнение № 6
Получить все элементы `ser1` и `ser2`, которые не являются общими для обоих рядов.

In [26]:
unique_elements = pd.concat([ser1, ser2]).drop_duplicates(keep=False)

print("Элементы, не являющиеся общими для ser1 и ser2:")
print(unique_elements)

Элементы, не являющиеся общими для ser1 и ser2:
0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

### Упражнение № 7
Вычислите минимальное значение, 25-й процентиль, медиану, 75-й процентиль и максимальное значение `ser`.

In [38]:
ser = pd.Series(np.random.normal(10, 5, 25))

print(f"Минимальное значение: {ser.min()}\n", f"25-й процентиль: {ser.quantile(0.25)}\n", f"Медиана: {ser.median()}\n", f"75-й процентиль: {ser.quantile(0.75)}\n", f"Максимальное значение: {ser.max()}")

Минимальное значение: -0.6536969232116974
 25-й процентиль: 7.595299875510365
 Медиана: 10.933285487807826
 75-й процентиль: 11.953881387056402
 Максимальное значение: 26.910654076631197

### Упражнение № 8
Вычислите частоту встречаемости каждого уникального значения `ser`.

In [41]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser.value_counts(normalize=True))

d    0.233333
b    0.200000
g    0.200000
h    0.133333
a    0.100000
e    0.100000
f    0.033333
Name: proportion, dtype: float64

### Упражнение № 9
Из `ser` оставить 2 наиболее часто встречающихся элемента без изменений, а все остальные заменить
на `Прочее`.

In [42]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

freq = ser.value_counts()
most_common = freq.index[:2]
print(ser.apply(lambda x: x if x in most_common else 'Прочее'))

0          4
1          2
2          2
3     Прочее
4     Прочее
5          4
6     Прочее
7          4
8          4
9     Прочее
10    Прочее
11         2
dtype: object

### Упражнение № 10
Разбейте ряд `ser` на 10 равных децилей и замените значения на название дециля.

In [44]:
ser = pd.Series(np.random.random(20))

print(pd.qcut(ser, 10, labels=[f"Дециль_№{i+1}" for i in range(10)]))

0      Дециль_№8
1      Дециль_№3
2      Дециль_№7
3     Дециль_№10
4      Дециль_№7
5      Дециль_№4
6      Дециль_№3
7      Дециль_№9
8      Дециль_№2
9      Дециль_№6
10     Дециль_№5
11     Дециль_№1
12     Дециль_№6
13     Дециль_№9
14     Дециль_№1
15     Дециль_№4
16    Дециль_№10
17     Дециль_№8
18     Дециль_№5
19     Дециль_№2
dtype: category
Categories (10, object): ['Дециль_№1' < 'Дециль_№2' < 'Дециль_№3' < 'Дециль_№4' ... 'Дециль_№7' < 'Дециль_№8' < 'Дециль_№9' < 'Дециль_№10']

### Упражнение № 11
Переформируйте ряд `ser` в датафрейм с 7 строками и 5 столбцами.

In [45]:
ser = pd.Series(np.random.randint(1, 10, 35))

df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  3  4  3  2  9
1  1  5  7  4  8
2  1  7  6  4  8
3  1  2  9  9  9
4  5  6  2  1  5
5  3  3  6  5  9
6  3  6  6  6  9

### Упражнение № 12
Найти позиции чисел, кратных 3, из ряда `ser`.

In [53]:
ser = pd.Series(np.random.randint(1, 10, 7))

print(ser)
np.argwhere(ser % 3 == 0)

0    9
1    2
2    8
3    9
4    6
5    7
6    4
dtype: int32

array([[0],
       [3],
       [4]], dtype=int64)

### Упражнение № 13
Из `ser` извлечь элементы, находящиеся на позициях в списке `pos`.

In [54]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

print(ser.take(pos))

0     a
4     e
8     i
14    o
20    u
dtype: object

### Упражнение № 14
Объедините `ser1` и `ser2` по вертикали и горизонтали (чтобы сформировать датафрейм).

In [56]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

vertical_concat = pd.concat([ser1, ser2], axis=0).reset_index(drop=True)

print("Объединение по горизонтали:\n",vertical_concat)
horizontal_concat = pd.concat([ser1, ser2], axis=1)
print("\nОбъединение по вертикали:\n",horizontal_concat)

Объединение по горизонтали:
 0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object

Объединение по вертикали:
    0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

### Упражнение № 15
Получите позиции элементов `ser2` в `ser1` в виде списка.

In [57]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

### Упражнение № 16
Вычислить среднеквадратическую ошибку рядов `truth` и `pred`.

In [58]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

print(np.mean((truth - pred)**2))

0.3339887236782328

### Упражнение № 17
В каждом слове `ser` поставьте первый символ каждого слова в верхний регистр.

In [59]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

### Упражнение № 18
В каждом слове `ser` посчитайте число символов.

In [61]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

print(ser.apply(len))

0    3
1    2
2    4
3    4
dtype: int64

### Упражнение № 19
Вычислите разность разностей между последовательно идущими числами в `ser`.

In [62]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print("Первая разность:\n", ser.diff().to_list())
print("Вторая разность:\n", ser.diff().diff().to_list())

Первая разность:
 [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
Вторая разность:
 [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

### Упражнение № 20
Преобразуйте строковое представление дат в `datetime64`.

In [63]:
from dateutil import parser
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])


print(ser.apply(lambda x: parser.parse(x)))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### Упражнение № 21
Получите из `ser` день месяца, номер недели, день года и день недели

In [64]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil import parser
ser_datetime = ser.apply(lambda x: parser.parse(x))
day_of_month = ser_datetime.dt.day.tolist()
week_number = ser_datetime.dt.isocalendar().week.tolist()
day_of_year = ser_datetime.dt.dayofyear.tolist()
day_of_week = ser_datetime.dt.day_name().tolist()

print("Номер дня в месяце:", day_of_month)
print("Номер недели:", week_number)
print("Номер дня в году:", day_of_year)
print("День недели:", day_of_week)

Номер дня в месяце: [1, 2, 3, 4, 5, 6]
Номер недели: [53, 5, 9, 14, 19, 23]
Номер дня в году: [1, 33, 63, 94, 125, 157]
День недели: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

### Упражнение № 22
Замените элементы `ser` на даты, начинающиеся с 4-го числа соответствующего месяца.

In [66]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

print(ser.apply(lambda x: parser.parse('04 ' + x)))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

### Упражнение № 23
Из `ser` извлеките слова, содержащие не менее 2 гласных букв.

In [68]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
result = ser[ser.str.count(r'[aeiouAEIOU]') >= 2]
print(result)

0     Apple
1    Orange
4     Money
dtype: object

### Упражнение № 24
Извлеките корректные адреса электронной почты из ряда `emails`. Шаблон регулярного выражения для
корректных адресов электронной почты приведен в качестве образца.

In [69]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern = r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'
result = emails[emails.str.contains(pattern)]
print(result)

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

### Упражнение № 25
Вычислить среднее значение веса в `weights` для каждого фрукта из `fruit`.

In [70]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

df = pd.DataFrame({'fruit': fruit, 'weights':weights})
print(df.groupby('fruit')['weights'].mean())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'apple', 'carrot', 'carrot', 'carrot', 'carrot', 'banana', 'banana', 'banana', 'apple']
fruit
apple     4.333333
banana    8.000000
carrot    4.500000
Name: weights, dtype: float64

### Упражнение № 26
Вычислить [евклидово расстояние](https://en.wikipedia.org/wiki/Euclidean_distance) между векторами $p$ и $q$, не используя встроенную формулу.

In [72]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

print(np.sqrt(np.sum((p - q) ** 2)))

18.16590212458495

### Упражнение № 27
Получите позиции пиков (значений, окруженных с двух сторон меньшими значениями) в `ser`.

In [73]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

print(np.where((ser.shift(1) < ser) & (ser.shift(-1) < ser)))

(array([1, 5, 7], dtype=int64),)

### Упражнение № 28
Замените пробелы в `my_str` на наименее часто встречающийся символ

In [76]:
my_str = 'dbc deb abed gade'
ser = pd.Series(list(my_str))
counts = ser.value_counts()
my_str = my_str.replace(' ', counts.index[-1])
my_str

'dbcgdebgabedggade'

### Упражнение № 29
Создайте временной ряд, начинающийся с `2000-01-01`, содержащий 10 субботних дней после этого и
имеющий в качестве значений случайные числа

In [77]:
dates = pd.date_range(start='2000-01-01', periods=10, freq='W-SAT')
val = np.random.randint(1,10,size=10)
print(pd.Series(data=val, index=dates))

2000-01-01    4
2000-01-08    8
2000-01-15    3
2000-01-22    9
2000-01-29    6
2000-02-05    6
2000-02-12    7
2000-02-19    2
2000-02-26    2
2000-03-04    9
Freq: W-SAT, dtype: int32

### Упражнение № 30
В `ser` отсутствуют некоторые даты и значения. Сделайте так, чтобы все отсутствующие даты появились
и заполнились значением из предыдущей даты.

In [3]:
ser = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
result = ser.resample('D').ffill()
print(result)

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

### Упражнение № 31
Вычислите автокорреляции для первых 10 лагов `ser`. Определите, какой из лагов имеет наибольшую корреляцию.

In [5]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(lag) for lag in range(1, 11)] 
max_lag = np.argmax(autocorrelations) + 1 
autocorrelations = [float(corr) for corr in autocorrelations] 
print("Автокорреляции для первых 10 лагов:", autocorrelations)
print("Лаг с наибольшей корреляцией:", max_lag)

Автокорреляции для первых 10 лагов: [0.4200709526367488, 0.2557153609857565, 0.7452547113228016, 0.3641115611123922, -0.016542515264341296, 0.20745434551352135, 0.4259164219907181, 0.11046506125873788, -0.30097210695924403, 0.0023598706994941397]
Лаг с наибольшей корреляцией: 3

### Упражнение № 32

Импортируйте каждую 50-ю строку набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [6]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
print(pd.read_csv(url, skiprows=lambda x: x % 50 != 0))

      crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1  0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2  2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3  0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4  0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5  0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6  0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7  9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8  7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9  0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2

        b  lstat  medv
0  396.90  16.20  19.4
1  396.90   6.19  33.2
2  351.85  21.45  15.4
3  396.90   4.56  34.9
4  393.74   6.56  26.2
5  371.58   4.74  29.0
6  389.85   5.89  26.6
7  338.16  29.97   6.3
8  304.21  19.31  13.0
9  395.77  15.10  17.5

### Упражнение № 33

Импортируйте набор данных [boston housing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv), но при импорте измените столбец `'medv'` (*median house value*) так, чтобы значения < 25 стали `Low`, а > 25 - `High`.

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', converters={'medv': lambda x: 'Low' if float(x) < 25 else 'High'})
print(df)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98   Low
1       17.8  396.90   9.14   Low
2       17.8  392.83   4.03  High
3       18.7  394.63   2.94  High
4       18.7  396.90   5.33  High
..       ...     ...    ...   ...
501     21.0  391.99   9.67   Low
502     21.0  396.90   9.08   Low
503     21.0  396.90   5.64   Low
504     21.0  393.45   6.48   Low
505     21.0  396.90   7.88   Low

[506 rows x 14 columns]

### Упражнение № 34

Создайте датафрейм со строками в виде шагов (интервалов) заданного ряда

In [8]:
L = pd.Series(range(15))

def create_steps(series, step_size, window_size):
    return np.array([series[i: i + window_size] for i in range(0, len(series) - window_size + 1, step_size)])

print(pd.DataFrame(create_steps(L, step_size=2, window_size=4)))

    0   1   2   3
0   0   1   2   3
1   2   3   4   5
2   4   5   6   7
3   6   7   8   9
4   8   9  10  11
5  10  11  12  13

### Упражнение № 35

Импортируйте столбцы 'crim' и 'medv' из набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [9]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
df = pd.read_csv(url, usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

### Упражнение № 36

Получите количество строк, столбцов, тип данных и суммарную статистику каждого столбца набора данных [Cars93](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv). Также получите эквивалент датафрейма в виде numpy-массива и списка.

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(f"Строк {df.shape[0]},  Столбцов {df.shape[1]}")
print("\nТипы данных столбцов:")
print(df.dtypes)
print("\nСуммарная статистика:")
print(df.describe())
print('\nЭквивалент DataFrame в виде numpy-массива:')
print(df.to_numpy().tolist())
print('\nЭквивалент DataFrame в виде списка:')
print(df.values.tolist())

Строк 93,  Столбцов 27

Типы данных столбцов:
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

Суммарная статистика:
       Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000

Эквивалент DataFrame в виде numpy-массива:

### Упражнение № 37

Извлеките номер строки и столбца конкретной ячейки по заданному критерию.

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

max_price = df['Price'].max()
max_price_row = df[df['Price'] == max_price].iloc[0]

manufacturer = max_price_row['Manufacturer']
model = max_price_row['Model']
car_type = max_price_row['Type']

row_number = max_price_row.name
column_number = df.columns.get_loc('Price')

print(f'Производитель: {manufacturer}')
print(f'Модель: {model}')
print(f'Тип: {car_type}')
print(f'Цена: {max_price}')
print(f'Номер строки: {row_number}')
print(f'Номер столбца: {column_number}')

Производитель: Mercedes-Benz
Модель: 300E
Тип: Midsize
Цена: 61.9
Номер строки: 58
Номер столбца: 4

### Упражнение № 38

Переименуйте в `df` столбец `Type` в `CarType` и замените `.` в именах столбцов на `_`.

In [14]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
df = pd.read_csv(url)
df.rename(columns={'Type': 'CarType'}, inplace=True)
df.columns = df.columns.str.replace('.', '_')
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

### Упражнение № 39

Проверьте, нет ли в `df` отсутствующих значений.

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
if(df.isna().any().any()):
    print("Есть отсутствующие значения")
else:
    print("Нет отсутствующих значений")

Есть отсутствующие значения

### Упражнение № 40

Подсчитайте количество пропущенных значений в каждом столбце `df`. Какой столбец имеет наибольшее число пропущенных значений?

In [19]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missing_values_count = df.isna().sum()

most_missing_column = missing_values_count.idxmax()
most_missing_value_count = missing_values_count.max()

print(f"Столбец с наибольшим количеством пропущенных значений: {most_missing_column}")
print(f"Количество пропущенных значений: {most_missing_value_count}")

Столбец с наибольшим количеством пропущенных значений: AirBags
Количество пропущенных значений: 38

### Упражнение № 41

Замените отсутствующие значения в столбцах `Min.Price` и `Max.Price` на соответствующие им средние значения.

In [3]:
df =pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv',usecols=['Max.Price','Min.Price'])

df['Min.Price'] = df['Min.Price'].fillna(df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].fillna(df["Max.Price"].mean())
df

    Min.Price  Max.Price
0   12.900000  18.800000
1   29.200000  38.700000
2   25.900000  32.300000
3   17.118605  44.600000
4   17.118605  21.459091
..        ...        ...
88  16.600000  22.700000
89  17.600000  22.400000
90  22.900000  23.700000
91  21.800000  23.500000
92  24.800000  28.500000

[93 rows x 2 columns]

### Упражнение № 42

В `df` с помощью метода `apply` замените недостающие значения в `Min.Price` на среднее значение столбца, а в `Max.Price` — на медиану столбца.

In [4]:
df =pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv',usecols=['Max.Price','Min.Price'])

df['Min.Price'] = df['Min.Price'].apply(lambda x: df['Min.Price'].mean() if pd.isna(x) else x)
df['Max.Price'] = df["Max.Price"].apply(lambda x: df['Max.Price'].median() if pd.isna(x) else x)

df

    Min.Price  Max.Price
0   12.900000      18.80
1   29.200000      38.70
2   25.900000      32.30
3   17.118605      44.60
4   17.118605      19.15
..        ...        ...
88  16.600000      22.70
89  17.600000      22.40
90  22.900000      23.70
91  21.800000      23.50
92  24.800000      28.50

[93 rows x 2 columns]

### Упражнение № 43

Получите первый столбец (`a`) в `df` в виде датафрейма (а не в виде ряда).

In [5]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
print(pd.DataFrame(df['a']))

    a
0   0
1   5
2  10
3  15

### Упражнение № 44

1. В `df` поменяйте местами столбцы `'a'` и `'c'`.
2. Создайте обобщенную функцию для обмена данными между двумя столбцами без фиксированного задания имен столбцов.
3. Отсортируйте столбцы в обратном алфавитном порядке, т.е. от столбца `'e'` до столбца `'a'`.

In [6]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

cols = list(df.columns)
a, c = cols.index('a'), cols.index('c')
cols[a], cols[c] = cols[c], cols[a]
print(df[cols],'\n')

def swap_columnns(df: pd.DataFrame, col1, col2):
    cols = list(df.columns)
    a, b = cols.index(col1), cols.index(col2)
    cols[a], cols[b] = cols[b], cols[a]
    return df[cols]

print(swap_columnns(df,'a','c'))

df.sort_index(axis=1,ascending=False)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

### Упражнение № 45

Измените настройки отображения `pandas` при выводе на печать датафрейма `df`, чтобы он показывал максимум 10 строк и 10 столбцов.

In [7]:
df =pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

df

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

### Упражнение № 46

Исключите вывод научной нотации типа 'e-03' в `df` и выведите до 4 чисел после запятой.

In [8]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
round(df,4)

   random
0  0.0000
1  0.0021
2  0.3335
3  0.0000

### Упражнение № 47

Отформатируйте значения в столбце `'random'` из `df` в виде процентов.

In [13]:
df = pd.DataFrame(np.random.random(4), columns=['random'])

df = (df['random']*100).round(2).astype(str) + '%'
df.to_frame()

   random
0  60.55%
1  25.76%
2  41.94%
3  10.59%

### Упражнение № 48

Из `df` отфильтруйте значения `Manufacturer`, `Model` и `Type` для каждой 20-й строки, начиная с 1-й (строка 0).

In [12]:
df =pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv',usecols=['Manufacturer','Model','Type'])

df.filter(items=[i for i in range(0,df.__len__(),20)],axis=0)

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

### Упражнение № 49

В `df` замените `NaN` на `missing` в столбцах `Manufacturer`, `Model` и `Type` , создайте индекс как комбинацию этих трех столбцов и проверьте, является ли этот индекс первичным ключом.

In [11]:
df =pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

df[['Manufacturer','Model','Type']] = df[['Manufacturer','Model','Type']].fillna('missing')
df

   Manufacturer    Model     Type  Min.Price  Max.Price
0         Acura  Integra    Small       12.9       18.8
1       missing   Legend  Midsize       29.2       38.7
2          Audi       90  Compact       25.9       32.3
3          Audi      100  Midsize        NaN       44.6
4           BMW     535i  Midsize        NaN        NaN
..          ...      ...      ...        ...        ...
88   Volkswagen  Eurovan      Van       16.6       22.7
89   Volkswagen   Passat  Compact       17.6       22.4
90   Volkswagen  Corrado   Sporty       22.9       23.7
91        Volvo      240  Compact       21.8       23.5
92      missing      850  Midsize       24.8       28.5

[93 rows x 5 columns]

### Упражнение № 50

Найти положение строки с 5-м наибольшим значением столбца `'a'` в `df`.

In [14]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10, -1), columns=list('abc'))
print(df)
print(f"Строка с 5-м наибольшим значением в столбце 'a': {df['a'].nlargest(5).index[-1]}")

    a   b   c
0  18  15  19
1  18  17   9
2  16   7  22
3   1  10   4
4  29  28   1
5  13  28   1
6  12  27  17
7  20  26  24
8  20   7  18
9  26  20  17
Строка с 5-м наибольшим значением в столбце 'a': 0

### Упражнение № 51

В `ser` найдите положение 2-го наибольшего значения, превышающего среднее.

In [15]:
ser = pd.Series(np.random.randint(1, 100, 15))
mean_value = ser.mean()
second_largest = ser[ser > mean_value].nlargest(2).index[-1]
print(second_largest)

8

### Упражнение № 52

Получите две последние строки `df`, сумма строк которых больше 100.

In [16]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df[df.sum(axis=1) > 100].tail(2)

     0   1   2   3
13  16  22  33  34
14  16  26  39  23

### Упражнение № 53

Замените все значения `ser`, находящиеся ниже 5%-ного и выше 95%-ного перцентиля, на соответствующие значения 5-го и 95-го перцентиля.

In [17]:
ser = pd.Series(np.logspace(-2, 2, 30))

percentile_5 = np.percentile(ser, 5)
percentile_95 = np.percentile(ser, 95)
ser = ser.apply(lambda x: percentile_5 if x < percentile_5 else (percentile_95 if x > percentile_95 else x))

print(ser)

0      0.016049
1      0.016049
2      0.018874
3      0.025929
4      0.035622
        ...
25    28.072162
26    38.566204
27    52.983169
28    63.876672
29    63.876672
Length: 30, dtype: float64

### Упражнение № 54

Перестройте `df` в максимально возможный квадрат с удалением отрицательных значений. При необходимости отбросьте наименьшие значения. Порядок положительных чисел в результате должен остаться тем же, что и в исходном варианте.

In [18]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))
positive = df[df > 0].values.flatten()
n = int(np.sqrt(positive.__len__()))
pd.DataFrame(positive[:n*n].reshape(n, n))

      0     1     2     3     4     5     6     7     8     9
0  10.0  40.0  25.0   NaN   NaN  18.0  26.0   NaN   NaN   NaN
1   NaN   3.0  11.0  27.0  33.0  20.0  23.0  37.0  14.0   NaN
2   6.0   NaN   NaN  36.0  35.0  19.0   4.0  29.0  34.0  47.0
3  16.0   NaN   NaN   NaN  27.0  35.0   1.0   1.0  35.0  21.0
4   1.0   NaN  27.0  25.0   6.0  19.0   8.0   NaN   NaN  32.0
5  49.0  20.0   NaN   NaN   NaN  44.0  30.0   NaN  37.0  16.0
6  25.0  34.0  15.0   NaN   8.0   2.0  28.0  47.0   NaN   NaN
7   NaN   NaN   NaN   5.0   NaN  30.0  49.0  24.0   2.0   NaN
8  39.0   NaN   5.0  11.0  14.0  11.0   9.0  38.0   NaN  32.0
9  41.0  47.0  21.0   NaN   7.0  16.0  36.0  24.0  46.0   NaN

### Упражнение № 55

Поменяйте местами строки 1 и 2 в `df`.

In [19]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df[:2] = df[:2][::-1]
df

    0   1   2   3   4
0   5   6   7   8   9
1   0   1   2   3   4
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

### Упражнение № 56

Переверните строки датафрейма `df` (первая строка становится последней).

In [22]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df = df.iloc[::-1]
print(df)

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

### Упражнение № 57

Получите бинарный код для столбца `'a'` в датафрейме `df` и добавьте его в виде столбцов.

In [24]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))

binary_columns = pd.get_dummies(df['a'])
binary_columns = binary_columns.astype(int)

df = pd.concat([binary_columns, df[['b', 'c', 'd', 'e']]], axis=1)
print(df)

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

### Упражнение № 58

Получите название столбца с наибольшим количеством строчных максимумов в `df`.

In [25]:
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1))

max_column = df.idxmax(axis=1).value_counts().idxmax()
print(df)
print("\nНазвание столбца:", max_column)

    0   1   2   3
0   6  77  43  58
1  95  18  70   2
2  19  92  46  59
3  88  27  43  25
4  25  52  45  10
5  85  35  59  14
6  11  28  56  44
7  58  26  72  32
8  42  45  39  83
9   5  26  97  40

Название столбца: 1

### Упражнение № 59

Создать новый столбец, в каждой строке которого будет указан номер строки, ближайшей по евклидову расстоянию к данной строке.

In [26]:
from scipy.spatial.distance import cdist

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1),
                  columns=list('pqrs'), index=list('abcdefghij'))

distanses = cdist(df,df, 'euclidean')
np.fill_diagonal(distanses,np.inf)
df['nearest_raw'] = df.index[distanses.argmin(axis=1)]
df['dist'] = distanses.min(axis=1)
df

    p   q   r   s nearest_raw       dist
a  75  17  94  84           j  26.476405
b   6  38  97  54           g  59.169249
c  98  89  56  34           d  27.820855
d  83  91  60  11           c  27.820855
e  72  92  56  72           h  33.451457
f  45  99  62  45           e  39.281039
g  58  32  77  73           a  30.397368
h  61  98  27  83           e  33.451457
i  79  17   8  73           g  73.668175
j  86  41  96  84           a  26.476405

### Упражнение № 60

Вычислите максимально возможное абсолютное значение корреляции каждого столбца с другими столбцами в `df`.

In [27]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1),
                  columns=list('pqrstuvwxy'), index=list('abcdefgh'))
corr = df.corr().abs().to_numpy()
np.fill_diagonal(corr, 0)

print(pd.DataFrame(corr).max().max())

0.8079261847509295

### Упражнение № 61

Вычислите минимум-максимум для каждой строки `df`.

In [28]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

pd.DataFrame([(min(df[i]), max(df[i])) for i in range(len(df))])

    0   1
0  32  92
1  41  97
2   2  74
3   1  91
4   7  90
5   5  96
6  12  96
7   2  70

### Упражнение № 62

Создайте новый столбец `penultimate`, который содержит второе по величине значение каждой строки `df`.

In [29]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df['penultimate'] = df.apply(lambda x: x.nlargest(2).iloc[1],axis=1)
df

    0   1   2   3   4  ...   6   7   8   9  penultimate
0   5  29  33   8  39  ...  51  71  89  13           71
1  71  50  76  91  94  ...  70  74  86  22           91
2  26  49  86  84  60  ...  88  49  16  32           88
3  35  31  49  33  74  ...  34  43  26  55           72
4  73  22  68  87  56  ...  32  30  44  40           73
5  95  51  35  55  87  ...  73  33  88  78           88
6   8  42  68  16  38  ...  98  18  94  26           94
7  50  14  96  29  41  ...  60  91  54  34           95

[8 rows x 11 columns]

### Упражнение № 63

1. Нормализуйте все столбцы `df`, вычитая среднее значение столбца и деля его на стандартное отклонение.
2. Произведите ранжирование всех столбцов `df` таким образом, чтобы минимальное значение в каждом столбце было равно 0, а максимальное — 1.

In [3]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

df_norm = (df - df.mean()) / df.std()
df_rank = (df - df.min()) / (df.max() - df.min())

print(df_norm)
print(df_rank)

          0         1         2         3         4         5         6  \
0  0.690090  1.201297 -1.001118 -0.212189  1.412522  0.803214  0.527966
1  0.906589  1.042884  0.750838  0.527753 -1.708478  1.019811 -0.187920
2 -1.041900 -1.201297  0.938548  1.615904  0.820608 -1.218358 -1.404925
3 -0.094718 -0.646852  0.312849 -0.952132 -0.578461 -0.749065 -0.689040
4 -1.231337 -0.937275  0.563129  0.397175  0.282504  0.983711  0.885908
5 -1.096025 -0.514841 -0.375419 -1.213288 -0.793703 -0.027075  1.744971
6  1.204275  1.201297  0.688269 -0.952132  0.605366  0.586617 -0.331097
7  0.663028 -0.145212 -1.877096  0.788909 -0.040358 -1.398856 -0.545863

          7         8         9
0 -0.967857  1.034092 -1.708616
1 -0.315827 -1.075291  1.594709
2 -0.940689 -0.086518 -0.341723
3 -1.076528  0.869297  0.113908
4  0.852393  1.231847  1.082124
5  1.341415  0.012360 -0.056954
6 -0.071316 -1.503759 -0.341723
7  1.178408 -0.482027 -0.341723
          0         1         2         3         4         5         6  \
0  0.788889  1.000000  0.311111  0.353846  1.000000  0.910448  0.613636
1  0.877778  0.934066  0.933333  0.615385  0.000000  1.000000  0.386364
2  0.077778  0.000000  1.000000  1.000000  0.810345  0.074627  0.000000
3  0.466667  0.230769  0.777778  0.092308  0.362069  0.268657  0.227273
4  0.000000  0.109890  0.866667  0.569231  0.637931  0.985075  0.727273
5  0.055556  0.285714  0.533333  0.000000  0.293103  0.567164  1.000000
6  1.000000  1.000000  0.911111  0.092308  0.741379  0.820896  0.340909
7  0.777778  0.439560  0.000000  0.707692  0.534483  0.000000  0.272727

          7         8         9
0  0.044944  0.927711  0.000000
1  0.314607  0.156627  1.000000
2  0.056180  0.518072  0.413793
3  0.000000  0.867470  0.551724
4  0.797753  1.000000  0.844828
5  1.000000  0.554217  0.500000
6  0.415730  0.000000  0.413793
7  0.932584  0.373494  0.413793

### Упражнение № 64

Вычислите корреляцию каждой строки `df` с последующей строкой.

In [5]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

df.corrwith(df.shift(-1))

0   -0.201760
1    0.002800
2   -0.551655
3   -0.448923
4   -0.144021
5    0.277115
6   -0.338487
7   -0.080806
8    0.320694
9   -0.715054
dtype: float64

### Упражнение № 65

Замените все значения в обеих диагоналях `df` на 0.

In [6]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
np.fill_diagonal(df.values, 0)
for i in range(df.shape[0]):
    df.iloc[i, df.shape[1] - i - 1] = 0

print(df)

    0   1   2   3   4   5   6   7   8   9
0   0  40  24  58  59  46  20  38  52   0
1  85   0  24  59  70  58  48   5   0  71
2  88  54   0   8  27  21  56   0  47  78
3  71  96  76   0  71  10   0  88  39  53
4  67  94  85  66   0   0  49  76  55  51
5  63  94  27  45   0   0  60  70  97  17
6  63   9  30   0  15  32   0   5   7  84
7  93  84   0  25  34  28  49   0  99  55
8  72   0   4  10  82  54  88  29   0  25
9   0  90   8  92  19  50  67  98  32   0

### Упражнение № 66

Из `df_grouped` получите в виде датафрейма группу, относящуюся к `apple`.

In [11]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])
apple_group = df_grouped.get_group('apple')

print(apple_group)

    col1      col2  col3
0  apple  0.195021     6
3  apple  0.038202     7
6  apple  0.665669     5

C:\Users\Фёдор\AppData\Local\Temp\ipykernel_26184\1286414787.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  apple_group = df_grouped.get_group('apple')

### Упражнение № 67

В `df` найдите второе по величине значение `taste` для `banana`.

In [12]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

banana_df = df[df['fruit'] == 'banana']
top_2_banana = banana_df['taste'].nlargest(2).iloc[-1]
print(df)
print(top_2_banana)

    fruit     taste  price
0   apple  0.684165     11
1  banana  0.725496     11
2  orange  0.188563      8
3   apple  0.517637     13
4  banana  0.033829      5
5  orange  0.493904     13
6   apple  0.964546      2
7  banana  0.680179     14
8  orange  0.546952     11
0.6801787745422373

### Упражнение № 68

В `df` вычислите среднюю цену `Price` каждого фрукта `Fruit`, сохраняя фрукт как еще один столбец вместо индекса.

In [13]:
df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

print("Исходный DataFrame:")
print(df)
print("\nСредняя цена каждого фрукта:")
print(df.groupby('fruit', as_index=False)['price'].mean())

Исходный DataFrame:
    fruit    rating  price
0   apple  0.410342      9
1  banana  0.945321     12
2  orange  0.019784      4
3   apple  0.291559      9
4  banana  0.402866      3
5  orange  0.030070     12
6   apple  0.517394      3
7  banana  0.545571     10
8  orange  0.837480      4

Средняя цена каждого фрукта:
    fruit     price
0   apple  7.000000
1  banana  8.333333
2  orange  6.666667

### Упражнение № 69

Объединить датафреймы `df1` и `df2` по признакам `fruit-pazham` и `weight-kilo`.

In [14]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

pd.merge(df1, df2, left_on=['fruit','weight'], right_on=['pazham','kilo'])

    fruit weight  price_x  pazham  kilo  price_y
0   apple   high        5   apple  high        4
1  orange    low        9  orange   low        1
2   apple   high        6   apple  high        4
3  orange    low       12  orange   low        1
4   apple   high        0   apple  high        4
5  orange    low       10  orange   low        1

### Упражнение № 70

Создайте в `df` два новых столбца, один из них — `lag1` (сдвиг столбца `a` вниз на 1 строку) столбца 'a', а другой — `lead1` (сдвиг столбца `b` вверх на 1 строку).

In [15]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns =list('abcd'))

df['lag1'] = df['a'].shift(1)
df['lead1'] = df['b'].shift(-1)
df

    a   b   c   d  lag1  lead1
0  16  31  65  43   NaN    8.0
1  72   8  96  71  16.0    6.0
2  14   6  87  96  72.0   71.0
3  46  71  44  83  14.0   77.0
4  82  77  47  84  46.0    NaN

### Упражнение № 71

Получите частоты уникальных значений по всему датафрейму `df`.

In [16]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns=list('abcd'))

print("\nЧастоты уникальных значений по всему DataFrame:")
print(df.stack().value_counts().sort_index())

Частоты уникальных значений по всему DataFrame:
1    1
2    4
3    2
4    1
5    3
6    2
7    3
8    2
9    2
Name: count, dtype: int64

### Упражнение № 72

Разделите столбец `row` в `df` так, чтобы сформировать датафрейм с 3 столбцами, как показано в примере выходных данных.

In [19]:
df = pd.DataFrame(["STD, City\tState",
                    "33, Kolkata\tWest Bengal",
                    "44, Chennai\tTamil Nadu",
                    "40, Hyderabad\tTelengana",
                    "80, Bangalore\tKarnataka"], columns=['row'])

df_split = df.row.str.split(', |\t', expand=True)
df_columns = df_split.iloc[0]
df_split = df_split[1:]
df_split.columns = df_columns

df_split

0 STD       City        State
1  33    Kolkata  West Bengal
2  44    Chennai   Tamil Nadu
3  40  Hyderabad    Telengana
4  80  Bangalore    Karnataka